toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/tomli_1699237289925/work
tomlkit @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/tomlkit_1699238737474/work
langchain==0.1.16
langchain-aws==0.1.2
langchain-cohere==0.1.5
langchain-community==0.0.34
langchain-core==0.1.46
langchain-openai==0.0.2.post1
langchain-text-splitters==0.0.1
